<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a href="/" class="nav-item">Accueil</a>
        <a href="/journaux.html" class="nav-item">Tous les journaux</a>
    </nav>
    <header>
        <h1 class="title">
            <img src="/images/logo-black.png" alt="logo de La Vache Bobette" class="title-logo">
            <h2 class="title-text">La démocratie vit dans la lumière</h2>
        </h1>
        <div class="new" onclick="location.href='#link'">
            <img src="#imgSrc" alt="Image d'illustration">
            <div class="texts">
                <h2>#title</h2>
                <p>#description</p>
            </div>
            
        </div>
        <div class="after">
            <p>Cliquez <a href="/journaux.html" style="color: blue;">ici</a> pour voir les autres journaux.</p>
            <p>Pour être mis au courant à la sortie des nouveaux journaux, vous pouvez nous suivre sur <a href="https://tooting.ch/@lavachebobette" style="color: blue;">Mastodon</a> ou sur <a style="color: blue;" href="https://twitter.com/lavachebobette">Twitter</a>...</p>
            <p>... Ou vous rappeler qu'un nouveau journal est censé sortir tous les jours vers 18h.</p>
        </div>
        
    </header>
    <footer>
        <a rel="me" href="https://twitter.com/lavachebobette">Twitter</a>
        <a rel="me" href="https://tooting.ch/@lavachebobette">Mastodon</a>
        <a href="mailto:contact@lavachebobette.ch">contact@lavachebobette.ch</a>
        <a href="https://tooting.ch/@lavachebobette.rss">RSS</a>
        <a href="/archives">(Les archives secrètes !)</a>
    </footer>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</body>
</html>